---
import Base from "../layouts/Base.astro";
import { getCollection, getEntry } from "astro:content";

const posts = (await getCollection('blog', ({ data }) => !data.draft))
  .sort((a, b) => +b.data.date - +a.data.date)
  .slice(0, 4);
const home = await getEntry('pages', 'home');
const { Content, headings } = await home.render();
const projects = await getEntry('pages', 'projects');
const { Content: Projects } = await projects.render();
---

<Base title={home.data.title} description={home.data.description}>
  <article class="prose">
    <Content />
  </article>

  <div class="hr" />
  <h2>Writings</h2>
  <div class="list">
    {posts.map((p) => (
      <div class="post-item">
        <time datetime={p.data.date.toISOString()}>{p.data.date.toISOString().slice(0,10)}</time>
        <a href={`/posts/${p.slug}`}>{p.data.title}</a>
      </div>
    ))}
  </div>

  <div class="hr" />
  <h2>Projects</h2>
  <article class="prose">
    <Projects />
  </article>

</Base>
